html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
body {
  transition: background 1s ease;
  scroll-behavior: smooth;
}

.wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: transparent !important;
  z-index: 99999 !important;
}

.color.purewhite {
  background-color: #999999;
}

.color-blue {
  background-color: #2cefff;
}

.color-violet {
  background-color: #4f3fff;
}
.color-purple {
  background-color: #8e44ad;
}
.color-orange {
  background-color: #ffad48;
}

.color-grey {
  background-color: #ff9b74;
}
.color-white {
  background-color: #f1f1f1;
}
/* Preloader Begins*/

.anim-container {
  margin: 0;
  padding:0;
  text-align: center;
  height: 100vh;
  width: 100% !important;
  z-index: 9999;
  padding-top: 35vh;
  /* padding-bottom: 50vh; */
  background-color: #fff;
  position: fixed;
  animation: preloader 2350ms;
  animation-iteration-count: infinite;
}
.bloc {
   color: #33adff;
   font-size: 48px;
   font-family: sans-serif;
   font-weight: 700;
   animation: move-bloc 2350ms;
   animation-iteration-count: infinite;
   display: block;
   margin: auto auto;
}
.matrix{
   color: #000069;
   font-size: 48px;
   font-weight: 700;
   margin-top: 2em;
   font-family: sans-serif;
   display: block;
   margin: auto auto;
   animation: move-matrix 2350ms;
   animation-iteration-count: infinite;
}

@-webkit-keyframes move-bloc {
  0% {margin-top:0;}
  50% {margin-top: 2em;}
  50% {margin-left: 0;}
  /* 75% {margin-left: -2em;
      opacity:1} */
  60% {margin-left:-4em;
      margin-top: 2em;}
   80% {
     margin-right: 0;
     margin-top: 2em;
   }
   100%{
     margin-right:0;
     margin-top: 0;
   }
   }

   /* Standard syntax */
   @keyframes move-bloc {
   0% {margin-top:0;}
   50% {margin-top: 2em;}
   50% {margin-left: 0;}
   /* 75% {margin-left: -2em;
       opacity:1} */
   60% {margin-left:-4em;
       margin-top: 2em;}
    80% {
      margin-right: 0;
      margin-top: 2em;
    }
    100%{
      margin-right:0;
      margin-top: 0;
    }
   }
   @-webkit-keyframes move-matrix {
    0% {margin-top: 2em;}
    50% {margin-top: -2em;}
    50% {margin-left: 0;}
    /* 75% {margin-left: 2em;
        opacity:1} */
    60%{margin-left: 4em;
        margin-top: -2em;}
   80%{
     margin-right: 0;
     margin-top: -2em;
   }
   100% {
     margin-right:0;
     margin-top: 2em
   }
   }

   /* Standard syntax */
   @keyframes move-matrix {
       0% {margin-top: 2em;}
   50% {margin-top: -2em;}
   50% {margin-left: 0;}
   /* 75% {margin-left: 2em;
       opacity:1} */
   60%{margin-left: 4em;
       margin-top: -2em;}
  80%{
    margin-right: 0;
    margin-top: -2em;
  }
  100% {
    margin-right:0;
    margin-top: 2em
  }
   }

/* Preloader Ends */
/* SideNav */

@keyframes preloader {
  0% {opacity: 0;}
  1% {opacity: 1}
  99% {opacity:1}
  100% {opacity: 0}
}
@-webkit-keyframes move-bloc {
  0% {margin-top:0;}
  50% {margin-top: 2em;}
  50% {margin-left: 0;
      opacity:1}
  /* 75% {margin-left: -2em;
  opacity:1} */
  100% {margin-left:-4em;
  opacity: 0;}
  }

  /* Standard syntax */
  @keyframes move-bloc {
  0% {margin-top:0;}
  50% {margin-top: 2em;}
  50% {margin-left: 0;
      opacity:1}
  /* 75% {margin-left: -2em;
      opacity:1} */
  100% {margin-left:-4em;
      opacity: 0;
      margin-top: 2em;}
  }
  @-webkit-keyframes move-matrix {
  0% {margin-top: 2em;}
  50% {margin-top: -2em;}
  50% {margin-left: 0;}
  75% {margin-left: 2em;
      opacity:1}
  100%{margin-left: 4em;
      opacity: 0;}
  }

  /* Standard syntax */
  @keyframes move-matrix {
      0% {margin-top: 2em;}
  50% {margin-top: -2em;}
  50% {margin-left: 0;
      opacity:1}
  /* 75% {margin-left: 2em;
      opacity:1} */
  100%{margin-left: 4em;
      opacity: 0;
      margin-top: -2em;}
  }

.navbar-brand {
  position: fixed;
  top: 15px;
  left: 30px;
}

.nav-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 1rem;
  right: 2rem;
  position: fixed;
  top: 2rem;
  width: 2rem;
  z-index: 2; }
  .nav-toggle:hover {
    opacity: 0.8; }
  .nav-toggle .nav-toggle-bar,
  .nav-toggle .nav-toggle-bar::after,
  .nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: #333;
    content: '';
    height: 0.3rem;
    width: 100%; }
  .nav-toggle .nav-toggle-bar {
    margin-top: 0; }
  .nav-toggle .nav-toggle-bar::after {
    margin-top: 0.8rem; }
  .nav-toggle .nav-toggle-bar::before {
    margin-top: -0.8rem; }
  .nav-toggle.expanded .nav-toggle-bar {
    background: transparent; }
  .nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
    background: white;
    margin-top: 0; }
  .nav-toggle.expanded .nav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .nav-toggle.expanded .nav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

/* nav */
.nav {
  -webkit-transition: left 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out;
  -ms-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
  background: linear-gradient(to bottom right, rgb(75, 55, 255), rgb(87, 68, 255), rgb(154, 66, 255));
  -webkit-background: linear-gradient(to bottom right, rgb(75, 55, 255), rgb(87, 68, 255), rgb(154, 66, 255));
  color: white;
  cursor: pointer;
  font-size: 1.0rem;
  font-family: "Titillium-regular";
  height: 100%;
  right: -20rem;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  top: 0;
  width: 20rem;
  z-index: 1; }
  .nav.expanded {
    right: 0; }
  .nav ul {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style: none;
    margin: 0;
    padding: 0; }

    .divider {
      margin-top: 2em !important;
      margin-bottom: 2em !important;
      color: #f1ecec;
      font-size: 28px;
      margin-left: 16px;
    }
    .work-container {
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
      margin-top: 2em;
    }
    
    .work-container a {
      padding-top: 1em !important;
    }
    
    .nav a {
      padding: 4px 4px 4px 16px;
      text-decoration: none;
      font-size: 20px;
      color: #f0efef;
      display: block;
      transition: 0.3s;
      -moz-transition: 0.3s;
      -webkit-transition: 0.3s;
    }
    
    .sidenav a:hover {
      color: #f1f1f1;
    }

/* SideNav Ends */

.img-fluid {
  height: 300px;
  width: auto;
}

/* Home-section begins */

.home-section {
  height: 100vh !important;
  width: 100%;
  margin: 0;
  padding: 0;
  /* background: url("../images/bg.svg"); */
  /* background-attachment: fixed; */
  /* background-size: cover; */
  /* background-color: #fff; */
  /* background-color
  background-repeat: no-repeat; */
  overflow: hidden;
  margin-bottom: 2em;
  padding-bottom: 2em;
}
.blockchain-section,
.iot-section,
.ai-section,
.blog-section {
  margin: 0;
  padding: 0;
  height: 80vh;
  width: 100%;
  /* margin-bottom: 3em; */
}

.row {
  margin: 0;
  padding: 0;
}

.landing-row {
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.landing-copy-container {
  display: block;
  padding-top: 50vh;
  margin-left: 2em;
  font-size: 22px !important;
  box-sizing: content-box;
  color: #1d1d1d;
  font-family: "Titillium-regular";
  font-size: 18px !important;
  text-align: justify !important;
}

.typewriter {
  display: inline-block;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 7s steps(30, end), blink 0.75s step-end infinite;
  animation-delay: 2500ms;
  white-space: nowrap;
  font-family: "BebasNeu-Regular" !important;
  font-size: 38px;
  font-weight: 700;
  border-right: 4px solid orange;
  box-sizing: border-box;
}

.dive-in {
  -webkit-appearance: none;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  background-color: rgb(75, 55, 255);
  background: linear-gradient(to bottom right, rgb(75, 55, 255), rgb(87, 68, 255), rgb(154, 66, 255));
  -webkit-o-background: linear-gradient(to bottom right, rgb(75, 55, 255), rgb(87, 68, 255), rgb(154, 66, 255));
  color: #fff;
  font-family: "Titillium-Bold";
  font-size: 26px;
}

.dive-in:hover {
  color: #fff;
  text-decoration: none;
}
.center {
  text-align: center;
  font-family: "Titillium-Bold";
}
.button-row {
  text-align: center;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* Home-section ends */

.text-block-18 {
  text-align: justify;
  font-family: "Titillium-Regular";
}

/* Blockchain Section Begins */

.blockchain-section,
.iot-section {
  padding-top: 2em;
  text-align: center;
}

.blockchain-row {
  margin-top: 5% !important;
}

.service-container {
  /* padding-left: 4em; */
  padding-right: 4em;
  /* padding-top: 3em; */
  padding-bottom: 4em;
  text-align: justify;
  font-size: 18px;
  font-family: "Titillium-Regular";
}

.service-buttons {
  margin-left: 1em;
}

/* Blockchaiun Section Ends */

/* IoT Services Begins*/
.iot-center {
  color: #f1f1f1;
}
.iot-service-container {
  color: #f1f1f1;
}
.iot-image {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
/* IoT Services Ends */

/*  Blog Section Begins */

.blog-row {
  margin-top: 5%;
}

.blog-section {
  height: auto;
  margin-top: 3em;
  margin-bottom: 2em;
}

.blog-container {
  /* border: 1px solid #f1f1f1; */
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.story {
  padding: 1em !important;
}

.story img {
  width: 100%;
}

.overlay {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 1px solid #fff;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.middle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  background-color: rgba(3, 10, 20, 0.6);
}

.overlay:hover img {
  transform: scale(1.1);
  transition: ease-in-out 400ms;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.middle .text a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  border-radius: 3px;
}

/* Blog container ends */

/* Partner Companies */
.partner-companies{
  padding: 50px 0 100px;
  
}

.partner-companies-header{
  padding: 100px 0 50px;
}

.partner-companies img {
  max-height: 80px;
}
.partner-companies {
  /* background-color: #eeeeee; */
  /* min-height: 40vh !important; */
  height: auto;
  width: 100%;
  color: #f1f1f1;
  /* margin-top: 8em;
  margin-bottom: 3em; */
}

.partner-companies img {
  max-height: 80px;
}

.carousel-inner {
  margin-top: 3em;
}

#imgs {
  display: block;
  padding: 0;
  width: 1200%;
}

#imgs li {
  padding-right: 10px;
  display: inline-block;
  display:inline;
}

#imgs img {
  width: auto;
  height: 120px;
}

.title {
  display: block;
  width: 100%;
  height: 38px;
  line-height: 38px;
  color: white;
  font-weight: bold;
  text-align: center;
  background: #ddd;
}


/* Team Container Begins */

.team-container {
  height: auto;
  width: 100%;
  /* margin: 0; */
  padding: 0;
  margin-bottom: 2em;
  padding-bottom: 2em;
}
.team-center {
  color: #333;
  margin-bottom: 2em !important;
}
.col-3 {
  margin: 0;
  padding: 0;
}
.team-row {
  margin-top: 4em;
}

/* Flip card Section begins*/

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -moz-transition: transform 0.6s;
  -webkit-transition: transform 0.6s;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
}

.flip-card-back {
  background-color: #f1f1f1;
  color: #333;
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.flip-card-back h3 {
  margin-top: 30%;
}

.flip-card-back .w-col-3 {
  margin-left: 8%;
}

/* Flip card section ends */

/* Team container Ends */

/* Contact Container begins */

.contact-container {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100% !important;
  background: #1a1a1a;
}

.map-frame {
  display: block;
  margin: auto;
}
.contact-frame {
  margin-top: 4em;
  width: 100%;
  font-family: "Titillium-Regular";
}
.heading {
  padding-top: 2em;
  text-align: left !important;
  color: #f1f1f1;
  margin-left: 2em;
  font-family: "Titillium-Regular";
}
.contact-form-container {
  margin-bottom: 2em;
  border-right: 1px solid #f1f1f1;
}

.contact-form-container form {
  margin-left: 3em;
  /* margin-top: 2em; */
  width: 80%;
  padding-right: 3em;

  color: #fff;
}
.map-container {
  /* padding-top: 3em; */
  padding-bottom: 2em;
}

/* .social-text {
    margin-left: 1em;
  }

  .social-icons {
    margin-top: 2em;
  }*/

  .contact-stripes {
    padding-top: 10em;
  }
  .border-line {
   border-right: 3px solid #333;
   text-align: center;
   padding:0;
  }

.social-icons li {
  padding: 8px;
  list-style-type: none;
  display: inline-block;
}

.social-icons li img {
  margin-right: 20px;
}

.social-icons li a {
  text-decoration: none;
  color: #f1f1f1;
}

/* .ph-num {
    margin-left: 50px;
  } */
.copy-right {
  color: #fff;
}

/* Contact container Ends */

/* About Page CSS */

.main-about-copy-contiainer {
  width: 100%;
  margin: 0;
  padding: 4em !important;
  background-color: #2300a1;
  color: #f1f1f1;
  font-family: "Titillium-Regular";
  text-align: justify;
}

.about-intro-container {
  text-align: justify;
  margin-top: 5em !important;
  padding: 2em !important;
  font-family: "Titillium-Regular";
}

/* Service Page CSS */

/* .service-header-container {
    margin-top: 1em;
    object-fit: cover;
  } */

.heading-34 {
  margin-top: 2em;
}
.servicebox-service {
  margin-top: 2em;
  margin-bottom: 2em;
}

.servicebox-container {
  width: 80%;
  margin: auto;
  margin-top: 2em;
  text-align: justify;
  font-family: "Titillium-Regular";
}

.service-img {
  height: 100px;
}

.contact-box {
  margin-bottom: 2em;
}
.service-know-more:hover a {
  text-decoration: none;
  color: #fff;
}

/* Blockchain page CSS */

.blockchain-header-container {
  margin-top: 1em;
  object-fit: cover;
}

/* AI page CSS */

.image-31 {
  width: 100% !important;
  /* min-height: 30vh; */
  height: auto;
  object-fit: cover;
  margin-top: 4em;
}

/* AR-VR Page CSS */

.text-container {
  margin-top: 4em;
  text-align: justify !important;
}
.ar-vr-row {
  margin-top: 2em;
  margin-bottom: 2em;
}

.image-ar-vr {
  padding: 2em;
}
/* .img-top */

/* Blog Page CSS */

.blog-1 {
  padding: 0;
  height: 32vh;
  border: 1px solid #333;
  border-radius: 4px;
  margin: 14px 0;
  box-sizing: border-box;
  overflow: hidden;
}
.blog-image-container {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 500px;
  background-color: transparent;
}

.blog-1-image {
  width: auto;
  height: 100%;
  margin-top: 0px;
  padding-top: 0px;
}

#widgetmain {
  border: 0;
  padding: 0;
  margin: 0;
  width: 39vw;
  height: 25vh;
  overflow: hidden;
}

#rsswidget {
  border: 0;
  padding: 0;
  height: 25vh;
}

.blog-image-header {
  text-align: center;
}

.blog-1 {
  padding: 0;
  height: 32vh;
  border: 1px solid #333;
  border-radius: 4px;
  margin: 14px 0;
  box-sizing: border-box;
  overflow: hidden;
}

.blog-content {
  background-color: #f3f6f9;
  padding: 0;
}

.blog-image {
  margin: 2px auto;
  display: block;
}
.blog-image {
  display: block;
}

/* Contact Page CSS */

#contact-section {
  height: auto;
  width: 100% !important;
  background: #1a1a1a;
  margin-top: 20% !important;
  font-family: "Titillium-Regular" !important;
}

.social-accounts {
  margin-top: 4em;
}
.border-line img {
  padding: 10px
}
.follow-us img {
  padding: 4px;
}

@media (max-width: 1024px) {
  .sidenav {
    width: 40%;
  }
  .flip-card {
    height: 250px;
    width: 250px;
  }

  .img-fluid {
    height: 200px;
    width: auto;
  }
  .home-section,
  .blockchain-section,
  .iot-section,
  .ai-section,
  .blog-section {
    margin: 0;
    padding: 0;
    height: auto !important;
    width: 100%;
    padding-top: 3em;
  }
  .service-header-container {
    margin-top: 5em;
  }
  .image-126 {
    object-fit: cover;
    width: 100%;
    margin-top: 4em;
  }
  .blockchain-image {
    margin-left: -1em;
  }
  .img-2 {
    margin-left: -5em;
  }
  .img-3 {
    margin-left: -7em;
  }
  .img-4 {
    margin-left: -4em;
  }
  .landing-copy-container {
    padding-top: 10vh;
    font-size: 22px !important;
  }
  .image-33 {
    margin-left: -1em;
    padding: 5px;
  }
  .nav ul {
    position: absolute;
    top: 30%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style: none;
    margin: 0;
    padding: 0; }

    .home-section {
      background-position: center center;
    }
}

@media (max-width: 768px) {
  .img-fluid {
    height: auto;
    width: auto;
  }
  .service-header-container {
    margin-top: 5em;
  }
  .sidenav {
    width: 40%;
  }
  .service-img {
    height: 150px;
  }
  .image-126 {
    object-fit: cover;
    width: 100%;
    margin-top: 4em;
  }

  .blockchain-image {
    margin-left: -3em;
    padding: 4px;
  }
  .block-hyperledger {
    padding: 5px;
  }
  .contact-form-container form {
    text-align: center;
    width: 80%;
    padding: 0;
    margin: auto;
    border-right: 0;
  }
  .map-container iframe {
    width: 80% !important;
  }
  .div-block-18 {
    margin-top: -15% !important;
  }
  .image-232 {
    margin-top: 3em;
  }
  .image-34 {
    margin-top: 3em;
  }
  .image-33 {
    margin-left: -3em;
    padding: 10px;
  }
  .landing-copy-container {
    padding-top: 10vh;
    font-size: 22px !important;
  }
  .social-icons li {
    padding: 4px;
    list-style-type: none;
  }
  .border-line, .follow-us {
    border-right: 0;
    padding-top: 1em;
  }
  .nav ul {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style: none;
    margin: 0;
    padding: 0; }
}
@media (max-width: 478px) {
  .img-fluid {
    height: auto;
  }
  .home-section {
    background-position: auto auto;
  }
  .block-chain{
    padding:0
  }
  .blockchain-section,
  .iot-section,
  .ai-section,
  .blog-section {
    margin: 0;
    padding: 0;
    height: auto;
    margin-top: 4em;
  }
  .sidenav {
    width: 60%;
  }

  .menu-button {
    width: 40px;
  }
  .blog-image {
    display: none;
  }

  .landing-copy-container {
    padding: 2em;
    padding-top: 25%;
    font-size: 16px !important;
  }
  .service-container {
    padding: 0;
    margin: 0;
    padding: 2em;
    padding-bottom: 2em;
    text-align: justify;
    font-size: 14px;
    font-family: "Titillium-Regular";
  }
  .flip-card {
    margin: auto;
  }
  .divider {
    margin-top: 2em !important;
    margin-bottom: 2em !important;
    color: #f1ecec;
    font-size: 20px;
    margin-left: 16px;
  }

  .sidenav a {
    padding: 4px 4px 4px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #f0efef;
    display: block;
    transition: 0.3s;
  }
  .middle .text a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    border-radius: 3px;
  }

  .contact-form-container form {
    margin-left: 0;
    margin-top: 0;
    width: auto;
    padding-right: 0;
    border-right: none;
    text-align: left;
  }
  .heading {
    margin: 0;
    padding: 0;
    padding-top: 2em;
    text-align: center !important;
  }
  .image-126 {
    object-fit: cover;
    width: 100%;
    margin-top: 4em;
  }
  .service-img {
    height: 150px;
  }
  .servicebox-container {
    margin-left: 0;
    width: 100%;
  }

  .heading-36 {
    text-align: center;
  }

  .heading-top {
    text-align: center;
  }
  .blockchain-image {
    margin-left: 0;
  }
  .block-hyperledger {
    padding: 10px;
  }
  .m2m-image {
    height: 150px;
  }
  .map-container iframe {
    width: 100% !important;
  }
  .heading-34 {
    font-size: 1.75rem !important;
  }
  .btn-lg {
    font-size: 1rem !important;
  }
  .logo-image {
    height: 40px;
  }
  .img-2 {
    margin-left: 0;
  }
  .img-3 {
    margin-left: 0;
  }
  .img-4,
  .image-33 {
    margin-left: 0;
  }
  .social-accounts {
    text-align: center;
  }
  .social-text {
    margin: 0;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .social-icons {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .social-icons li {
    padding-left: 0;
    padding-right: 0;
    list-style-type: none;
  }

  .social-icons li img {
    margin-right: 10px;
  }
  .image-34 {
    margin-top: 3em;
    height: 100px;
}
}

@media (max-width: 360px) {
  .landing-copy-container {
    padding-top: 55%;
    font-size: 16px !important;
  }
  .team-container {
    text-align: center;
  }
  .nav.expanded {
    right: -3rem;
  }
  .nav a {
    padding-right: 46px;
    /* margin-right: 34px; */
    /* padding: 6px 0px 6px 0px; */
    text-decoration: none;
    font-size: 14px;
    color: #f0efef;
    display: block;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}
.border-line h3, .follow-us h3 {
  font-size: 1.5rem;
}

.follow-us img {
  height: 32px;
}
  
}

@media (max-width: 330px) {
  .landing-copy-container {
    padding-top: 15%;
    font-size: 16px !important;
  }

}

/* Fonts */

@font-face {
  font-family: "Titillium-Black";
  src: url("../fonts/TitilliumWeb-Black.ttf") format("truetype");
  /* font-weight: 400; */
  font-style: normal;
}

@font-face {
  font-family: "Titillium-Bold";
  src: url("../fonts/TitilliumWeb-Bold.ttf") format("truetype");
  /* font-weight: 400; */
  font-style: normal;
}
@font-face {
  font-family: "Titillium-Light";
  src: url("../fonts/TitilliumWeb-Light.ttf") format("truetype");
  /* font-weight: 400; */
  font-style: normal;
}
@font-face {
  font-family: "Titillium-Regular";
  src: url("../fonts/TitilliumWeb-Regular.ttf"), url("../fonts/TitilliumWeb-LightItalic.ttf") format("truetype");
  /* font-weight: 400; */
  font-style: normal;
}
@font-face {
  font-family: "Titillium-LightItalic";
  src: url("../fonts/TitilliumWeb-LightItalic.ttf") format("truetype");
  /* font-weight: 400; */
  font-style: normal;
}

@font-face {
  font-family: "BebasNeu-Regular";
  src: url("../fonts/BebasNeue-Regular.eot") format("eot"), url("../fonts/BebasNeue-Regular.otf") format("otf"),
    url("../fonts/BebasNeue-Regular.woff") format("woff"), url("../fonts/BebasNeue-Regular.ttf") format("truetype");
}
