html, body{
    overflow-x: auto;
    font-family: 'Titillium-regular';
}
p {
    font-family: Titillium-regular, sans-serif;
    color: #333;
    justify-content: end;
}
h2, h3 {
    font-family: Bolt, sans-serif;
    color: #969696;
}
.heading-27 {
    padding: 15px;
}
.cs-section-1 {
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  padding-top: 60px;
  /* font-family: 'Circularstd book', sans-serif; */
}
.summry-block h3, h2 {
    color: #969696;
}
.summry-block {
    background-color: #444 !important;
    border-radius: 20px;
}
.summry-block p, ul li{
    color: #ccc;
}

.imp-points li {
    color: #333;
}

.btn-primary:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}
.image-9, .success-image {
  width: 100%;
  height: 400px;
  /* display: inline-block; */
  object-fit: cover
}

.div-block-16, .div-block-17, .div-block-18 {
  width: 90%;
  height: auto;
  margin-top: -18%;
  margin-bottom: 10em;
  margin-left: 1.5em;
  border-left: 9px solid salmon;
  background-color: #fff;
  opacity: 0.8;
  color: #333;
}
.btn-primary {
  width: 20%;
    text-align: center;
    display: block;
    margin: 3em auto;

}

.div-block-18 {
  margin-bottom: 14em !important;
}

.case-study-header {
  margin-left: 1em;
}

.container-fluid {
  text-align: justify;
}
.bold-text {
  margin-left: 16px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media (max-width: 1024px) {
  .image-9, .success-image {
    height: auto;
    object-fit: cover;
  }
  .blocmatrix-main {
    margin-top: 10px !important;
}
.heading-27 {
  font-size: 1.8rem;
}
.div-block-16 {
  width: 90%;
  height: auto;
  margin-top: -35% !important;
  margin-bottom: 18em;
  margin-left: 1.5em;
  border-left: 9px solid salmon;
  background-color: #fff;
  opacity: 0.8;
  color: #333;
}
.div-block-17 {
  width: 90%;
  height: auto;
  margin-top: -20% !important;
  margin-bottom: 8em;
  margin-left: 1em;
  border-left: 9px solid salmon;
  background-color: #fff;
  opacity: 0.8;
  color: #333;
}
.div-block-18 {
  width: 80%;
  height: auto;
  margin-top: -13% !important;
  margin-bottom: 8em;
  margin-left: 1em;
  border-left: 9px solid salmon;
  background-color: #fff;
  opacity: 0.8;
  color: #333;
}

#widgetmain {
  height: auto !important;
}
.btn-primary {
  width: 30%;
    text-align: center;
    display: block;
    margin: 3em auto;

}
}

@media (max-width: 768px) {
  .image-9 {
    height: auto;
  }
  .summry-block {
    margin-right: 0 !important;
    border-radius: 6px;
  }
  .blocmatrix-main {
    margin-top: 20px !important;
}
.div-block-16 {
  width: 90%;
  height: auto;
  margin-top: -30% !important;
  margin-bottom: 12em;
  margin-left: 1em;
  border-left: 9px solid salmon;
  background-color: #fff;
  opacity: 0.8;
  color: #333;
}
.div-block-17 {
  width: 90%;
  height: auto;
  margin-top: -22% !important;
  margin-bottom: 8em;
  margin-left: 1em;
  border-left: 9px solid salmon;
  background-color: #fff;
  opacity: 0.8;
  color: #333;
}
.div-block-18 {
  width: 90%;
  height: auto;
  margin-top: -10% !important;
  margin-bottom: 4em !important;
  margin-left: 1em;
  border-left: 9px solid salmon;
  background-color: #fff;
  opacity: 0.8;
  color: #333;
}

.heading-27 {
  padding: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 1.5rem;
}
.btn-primary {
  width: 40%;
    text-align: center;
    display: block;
    margin: 3em auto;

}

}

@media (max-width: 479px) {
  .order-first-sm {
    width: 100%;
    /* padding: 0; */
    margin:0;
  }
  .h3, h3 {
    font-size: 1.25rem !important;
}
.h2, h2 {
  font-size: 1.5rem !important;
}
  .blocmatrix-main {
    margin-top: 10px !important;
}
.heading-27 {
  font-size: 1.0rem !important;
}
.div-block-16 {
  width: 90%;
  height: auto;
  margin-top: -30% !important;
  margin-bottom: 5em;
  margin-left: 1em;
  border-left: 9px solid salmon;
  background-color: #fff;
  opacity: 0.8;
  color: #333;
}
.div-block-17 {
  width: 90%;
  height: auto;
  margin-top: -37% !important;
  margin-bottom: 7em;
  margin-left: 1em;
  border-left: 9px solid salmon;
  background-color: #fff;
  opacity: 0.8;
  color: #333;
}
.div-block-18 {
  width: 90%;
    height: auto;
    margin-top: -17% !important;
    margin-bottom: 2em !important;
    margin-left: 1em;
    border-left: 9px solid salmon;
    background-color: #fff;
    opacity: 0.8;
    color: #333;
}
.case-study-header {
  font-size: 1.75rem;
  margin-left: 12px;
}
.bold-text {
  margin-left: 24px;
}
.overview-text {
  margin-top: 2em;
}
.btn-primary {
  width: 80%;
    text-align: center;
    display: block;
    margin: auto auto;
    margin-bottom: 3em;
}
}

@media (max-width: 360px) {
.div-block-16, .div-block-17 {
    width: 90%;
    height: auto;
    margin-top: -35% !important;
    margin-bottom: 5em;
    margin-left: 1em;
    border-left: 9px solid salmon;
    background-color: #fff;
    opacity: 0.8;
    color: #333;
}

.div-block-17 {
  margin-top: -35% !important;
}
.heading-27 {
  font-size: 0.9rem !important;
}
.case-study-header {
  font-size: 1.5rem;
  margin-left: 12px;
}
}

  /* Fonts */

  @font-face {
    font-family: 'Titillium-Black';
    src: url('../fonts/TitilliumWeb-Black.ttf') format('truetype');
    /* font-weight: 400; */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Titillium-Bold';
    src: url('../fonts/TitilliumWeb-Bold.ttf') format('truetype');
    /* font-weight: 400; */
    font-style: normal;
  }
  @font-face {
    font-family: 'Titillium-Light';
    src: url('../fonts/TitilliumWeb-Light.ttf') format('truetype');
    /* font-weight: 400; */
    font-style: normal;
  }
  @font-face {
    font-family: 'Titillium-Regular';
    src: url('../fonts/TitilliumWeb-Regular.ttf'), url('../fonts/TitilliumWeb-LightItalic.ttf') format('truetype');
    /* font-weight: 400; */
    font-style: normal;
  }
  @font-face {
    font-family: 'Titillium-LightItalic';
    src:  url('../fonts/TitilliumWeb-LightItalic.ttf') format('truetype');
    /* font-weight: 400; */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BebasNeu-Regular';
    src: url('../fonts/BebasNeue-Regular.eot') format('eot'), url('../fonts/BebasNeue-Regular.otf') format('otf'), url('../fonts/BebasNeue-Regular.woff') format('woff'), url('../fonts/BebasNeue-Regular.ttf') format('truetype');
  }

